  <footer class="bg-blue-400 py-10 text-white px-32 font-inter">

            <div class="flex justify-around py-20">
                <div class=" ">
                   <img class="h-60" src="{{url_for('static', filename='img/helmet.png')}}" alt="">
                </div>

                <div class="flex flex-col justify-center items-center text-center w-1/2">
                    <div class="py-5 flex flex-col gap-5">
                        <h1 class="font-bold text-4xl leading-relaxed">Contemporary Living is the standard.</h1>
                        <p class=" text-xl">Start your journey here</p>
                    </div>
                    <button class="bg-white w-fit text-airbanBlue text-xs p-3 rounded-full font-semibold">Send
                        Email</button>
                </div>
            </div>



            <div class="flex justify-between w-11/12 items-center mx-auto py-20">


                <div class="flex flex-col w-fit justify-center gap-6">
                    <div>
                        <img src="dist/img/airbanwhiteFooter.png" alt="">
                    </div>
                    <div class="flex gap-4 justify-center">
                        <a href="#">
                            <div class="border border-black rounded-full w-fit px-2 text-white"><i
                                    class="fa-brands fa-facebook-f fa-2xs "></i></div>
                        </a>
                        <a href="#">
                            <div class="border border-black rounded-full w-fit px-2 text-white"><i
                                    class="fa-brands fa-x-twitter fa-2xs "></i></div>
                        </a>
                        <a href="#">
                            <div class="border border-black rounded-full w-fit px-2 text-white"><i
                                    class="fa-brands fa-linkedin-in fa-2xs "></i></div>
                        </a>
                        <a href="#">
                            <div class="border border-black rounded-full w-fit px-2 text-white"><i
                                    class="fa-brands fa-instagram fa-2xs "></i></div>
                        </a>
                    </div>
                </div>


                <div class="flex px-10 gap-10">
                    <div class="px-10">
                        <h1 class="font-bold py-3">Company</h1>
                        <ul class="text-xs font-thin">
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <div class="px-10">
                        <h1 class="font-bold py-3">Quick Links</h1>
                        <ul class="text-xs font-thin">
                            <li><a href="#">Buy</a></li>
                            <li><a href="#">Sell</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <hr>
            <div class="flex justify-between py-10">
                <p>&copy; 2023 Airban Homes. All Rights Reserved</p>
                <p><a href="#">User Terms and conditions</a> | <a href="#">Privacy Policy</a></p>
            </div>
        </footer>