{% extends "root.html" %} 
{% block body %}

<div class="min-h-screen bg-gray-100">


<nav class="absolute inset-x-0 top-0 z-50">
  <div class="flex items-center justify-around p-4">
    <!-- Logo Section -->
    <div class="flex items-center">
      <a href="{{ url_for('home') }}">
        <img src="https://placehold.co/100x50" alt="Logo">
      </a>
    </div>

    <!-- Nav Links Section -->
    <div class="flex space-x-6">
      {% set nav_links = ['Home', 'About', 'Home', 'Home'] %}
      {% for link in nav_links %}
        <a href="{{ url_for(link|lower) }}" class="text-white text-sm relative w-fit block after:block after:content-[''] after:absolute after:h-[1px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-200 after:origin-left before:origin-right">{{ link }}</a>
      {% endfor %}
    </div>

    <!-- Social Media Section -->
        <div class="flex space-x-4">
      <a href="https://facebook.com" class="text-blue-500">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com" class="text-blue-400">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://linkedin.com" class="text-blue-700">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="text-blue-600">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>
</nav>


{% block content %}
{% endblock %}


</div>
{% endblock %}
